body {
    margin: 0px;
}

.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh; 
    align-items: center; 
    background-color: black;
    color: #fff;
    padding: 10px 20px;
}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    color: white;
    margin-top: 4vh;
    cursor: pointer;
}

.ver-carrito {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}

.search-container {
    flex-grow: 1; 
    display: flex;
    gap: 10px; 
}

.search-bar {
    flex-grow: 1; 
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search-button {
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.banner {
    background-size: cover;
    background-position: center;
    height: 65vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url("https://www.saboresdelquijote.es/imagenes/ap-vino-campo-de-calatrava.jpg");
}

.banner-container {
    text-align: center;
    padding: 15% 0;
}

.banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    font-size: 60px;
    font-weight: bold;
}

.banner p {
    font-size: 30px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.shop-content {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    width: calc(25% - 10px);
    box-sizing: border-box;
    text-align: center;    
}

.card img {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.price {
    color: grey;
    font-size: 20px;
    margin-top: auto;
}

.card button {
    border: none;
    outline: 0;
    padding: 6px 12px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    margin-top: auto;
}

.card button:hover {
    opacity: 0.7;
    background-color: #0056b3;
}
.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: 100%;
}

.modal-header-title {
    justify-self: start;
}

.modal-header-button {
    cursor: pointer;
}

.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container > div > img {
    height: 100px;
    width: 100px;
}

.total-content {
    font-size: 22px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.eliminar {
    background-color: red;
    color: white;
    border: none;
    padding: 3px 6px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.eliminar:hover {
    background-color: darkred;
}

.saludo {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 10px; 
}

.saludo:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}




